<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <% if(typeof(userName) !== "undefined"){ %>
            <div align="right">
                Logged In as:<br><%=userName%>
            </div>
        <%}%>
        
    
    </div>
</nav>