<meta charset="UTF-8">
<title>My Frist Node App</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
    td {
        padding-top: .5em;
        padding-bottom: .5em;
    }
</style>